<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send Test Mail</title>
</head>
<body>

    <h2>Send Test Email</h2>

    <form method="POST">
        {% csrf_token %}

        <label>Email:</label><br>
        <input type="email" name="user_email" placeholder="Enter email" required><br><br>

        <button type="submit">Send Mail</button>

    </form>

    {% if msg %}
    <script>    
   alert('{{ msg }}')
    </script>
    {% endif %}

</body>
</html>
